*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
[class*="container"]{
    width: 100%;
    min-width: 150px;
    min-height: 150px;
}
.container1{
    background-color: #03071E;
}
.container2{
    height: auto;
    /* flex-wrap: wrap;
    display: flex; */
}
.container3{
    background-color:#6A040F;
}
.container4{
    background-color:#9D0208;
}
.container5{
    background-color: #D00000;
}

@media screen and (min-width: 600px){
    .container1{
        width: 25%;
    }
    .container2{
        width: 75%;
    }
}

@media screen and (min-width: 800px){
    .main{
        width: 800px;
        margin: 0 auto;
    }
    .container1{
        width: 50%;
        order: 1;
    }
    .container2{
        width: 100%;
    }
    .container5{
        width: 50%;
        order: 2;
    } 
}