*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
}
.container{
    width: 100%;
    min-width: 150px;
    height: 150px;
    border-radius: 1rem;
}
.container:nth-child(1){
    background-color: #231942;
}
.container:nth-child(2){
    background-color: #5E548E;
}
.container:nth-child(3){
    background-color:#9F86C0;
}
.container:nth-child(4){
    background-color:#BE95C4;
}
.container:nth-child(5){
    background-color: #E0B1CB;
}